.list {
  margin: 10;
  padding: 10;
  list-style-type: none;
}
 
.list-item {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
}
.flex-container {
  display: flex;
  gap: 30px; 
}
.label {
  color: #F20056;  
}