.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button {
  color: #F20056;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid #1a202c;
  border-radius: 5px;
  padding: 8px;
  min-width: 64px;
  background: transparent;
  transition: all 0.1s ease-in;
}
.button:hover {
  background: #1a202c;
  color: #F20056;
}
.h1 {
  color: #F20056;
}
.inputName {
  color: #F20056;
  font-weight: bold;
  border: 1px solid #1a202c;
  border-radius: 5px;
  padding: 8px;
  min-width: 64px;
  background: transparent;
}
.addItem {
  margin-top: 20px;;
}
#inputID::placeholder {
  color:#F20056;
  opacity: 1;
}

